.listitem {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 1rem;
}

.listitem-button {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr auto;
  align-items: center;
  text-align: start;
}

.listitem-button-chevron {
  margin: 0.5rem;
}

/* Change styles on state change */

.listitem-button[aria-expanded="true"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.listitem-button[aria-expanded="true"] > .listitem-button-chevron {
  transform: rotateX(180deg);
}

.listitem-button[aria-expanded="true"] + .listitem-expandable {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.listitem-expandable-status {
  align-self: end;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
}

.listitem-button[aria-expanded="false"] + .listitem-expandable {
  display: none;
}
