html,
body,
#root {
  height: 100%;
}

#app {
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

#footer {
  margin-top: auto;
  background-color: red;
}
